:root {
    --red: #fb4934;
    --aqua: #8ec07c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #181818;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 40em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#activity_selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
}

#activity_selector > input {
    padding: 1em;
    background: #212121;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 2px solid #212121;
    color: white;
    cursor: pointer;
}

#activity_selector > input:disabled {
    background: #313131;
    cursor: default;
}

#activity_selector > input:hover:enabled {
    border: 2px solid var(--aqua);
    background: #313131;
}

#activity_selector > input:active:enabled {
    transform: translateY(5px);
}

#activity_selector > input.active {
    border: 2px solid var(--red);
}

#logged_activities {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#logged_activities > .logged-activity {
    padding: 1em;
    background: #212121;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 20em;
}

#logged_activities > .logged-activity > h2 {
    font-size: 1em;
}

#day {
    background: #212121;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    max-width: 25em;
}

#day > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#day > .header > p {
    font-size: 1.5em;
    cursor: pointer;
}

#day > .activity {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1.0em;
}
