* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #181818;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 40em;
}

#activity_container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#activity_container > .activity {
    display: flex;
    gap: 0.2em;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
}

#activity_container > .activity > input {
    width: 1.5em;
    height: 1.5em;
}

#logged_activities {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#logged_activities > .logged-activity {
    padding: 1em;
    background: #212121;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 20em;
}

#logged_activities > .logged-activity > h2 {
    font-size: 1em;
}

#day {
    background: #212121;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    max-width: 25em;
}

#day > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#day > .header > p {
    font-size: 1.5em;
    cursor: pointer;
}

#day > .activity {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1.0em;
}
