<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader" content="true">
    <meta name="color-scheme" content="dark">
    <title>Chronolog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Chronolog</h1>
        </header>

        <main>
            <div id="activity_container"></div>
            <div id="day">
                <div class="header">
                    <p>&lt;</p>
                    <h2>2026/01/19</h2>
                    <p>&gt;</p>
                </div>
                <div class="activity">
                    <p>programming</p>
                    <p>25%</p>
                    <p>24 hr 10 min 3 sec</p>
                </div>
            </div>
            <div id="logged_activities"></div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
</body>
</html>
